.mainsections{margin-top:30px;}
.mainsections .section-title{margin-top: 16px;}

.mainsections > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0px;
	margin-top: 16;
	margin-bottom: 0px;
}
.mainsections ul > li {
	display: block;
	list-style-type: none;
}
.mainsections .title{
	padding:0px 17px 15px 17px;
	color:#EE8131;
	font-size:24px;
	text-transform:uppercase;
}
.mainsections li.section{
	display:block;
	width:25%;
	margin:-1px 0 0 -1px;
	padding:17px;
	border:1px solid #eee;
}
.mainsections a{
	font:13px Opensans,Arial,Helvetica,sans-serif;
	line-height:24px;
	position: relative;
}
.mainsections a .icon.menu{
	position: absolute;
	top: 50%;
	left: -16px;
	width: 5px;
	height: 8px;
	margin-top: -4px;
	background-position: 0px -83px;
}
.mainsections a.parent{
	font-size: 1.6rem;
	font-weight: 600;
	color: #000;
	transition: color 0.2s ease 0s;
}

.mainsections a.parent:hover{color: #9D002C;}

@media screen and (max-width: 1010px){
	body.adaptive .mainsections{
		width:100%;
		float:none;
	}
}
@media screen and (max-width: 750px){
	body.adaptive .mainsections li.section{
		width:33%;
	}
}
@media screen and (max-width: 480px){
	body.adaptive .mainsections li.section{
		width:50%;
	}
	body.adaptive .mainsections .subsections{
		display:none;
	}
}