html,
body{
	background: #fff;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.7;
	color: #000;
	box-sizing:border-box;
}

body{font-size: 1.4rem;}


body.no-scroll{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: #214496;
	text-decoration: none;
}

a:hover{text-decoration: underline;}

p{
	padding: 0;
	margin-bottom: 2rem;
}

.container-fluid{max-width: 1200px;}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	background: #9D002C;
	border: none;
	border-radius: 6px;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 0 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.btn:hover,
input[type="submit"].btn:hover,
button.btn:hover{
	box-shadow: inset 0 -5rem 0 0 #d0003b;
	color: #fff;
	text-decoration: none;
}

.btn_white,
input[type="submit"].btn_white,
button.btn_white{
	background: #fff;
	color: #9D002C;
}

.btn_white,
input[type="submit"].btn_white,
button.btn_white{
	background: #fff;
	color: #9D002C;
}

.btn_border,
input[type="submit"].btn_border,
button.btn_border{
	border: 1px solid #9D002C;
	background: transparent;
	color: #9D002C;
}

.btn_border:hover,
input[type="submit"].btn_border:hover,
button.btn_border:hover{
	box-shadow: inset 0 -5rem 0 0 #9D002C;
}

.btn_blue,
input[type="submit"].btn_blue,
button.btn_blue{
	background: #214496;
}

.btn_blue:hover,
input[type="submit"].btn_blue:hover,
button.btn_blue:hover{
	box-shadow: inset 0 -5rem 0 0 #3160ce;
}

.btn_blue.btn_border,
input[type="submit"].btn_blue.btn_border,
button.btn_blue.btn_border{
	border-color: #214496;
	background: transparent;
	color: #214496;
}

.btn_blue.btn_border:hover,
input[type="submit"].btn_blue.btn_border:hover,
button.btn_blue.btn_border:hover{
	box-shadow: inset 0 -5rem 0 0 #214496;
	color: #fff;
}

/*header*/
.header{margin-bottom: 30px;}

.header-top__content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px 0;
}

.header-top__action{margin-left: 30px;}

.top-menu,
.top-menu__item{
	padding: 0;
	margin: 0;
	list-style: none;
}

.top-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: -13px;
}

.top-menu__item{
	font-size: 1.4rem;
	color: #214496;
	margin: 0 13px;
}

.top-menu__item a{color: #214496;}
.top-menu__item a:hover{text-decoration: underline;}

.header-main{
	background: #9D002C;
	color: #fff;
	padding: 10px 0;
}

.header-main__content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header-main__logo-wrap{
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 180px;
	margin-right: 20px;
}

.header-main__slogan{
	font-size: 1.4rem;
	font-weight: 600;
	margin-top: 5px;
}

.header-contacts{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0 5px;
}

.header-contacts__item{margin: 0 15px;}

.header-contacts__title{
	font-size: 1.4rem;
	font-weight: 600;
	font-style: italic;
	white-space: nowrap;
}

.header-contacts__title span:not(:last-child){margin-right: 12px;}

.header-contacts__title .inactive{
	border-bottom: 1px dashed #fff;
	cursor: pointer;
}

.header-contacts__phone{
	font-size: 1.8rem;
	font-weight: 600;
}

.header-contacts__phone a{
	color: #fff;
	transition: opacity 0.2s ease 0s;
}

.header-contacts__phone a:hover{
	text-decoration: none;
	opacity: 0.7;
}

.header-contacts__phone.inactive{display: none;}

.header-contacts__mail{
	font-size: 1.4rem;
	color: #fff;
}

.header-contacts__mail a{
	color: #fff;
	text-decoration: underline;
	transition: opacity 0.2s ease 0s;
}

.header-contacts__mail a:hover{
	color: #fff;
	text-decoration: none;
	opacity: 0.7;
}

.header-main .mini-cart{margin-left: 20px;}

.header-mobile{display: none;}

.mini-cart{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.mini-cart__icon{
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 12px;
}

.mini-cart__icon .icon{fill: #fff;}

.mini-cart__title,
.mini-cart__val{
	white-space: nowrap;
}

.mini-cart__title{
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
	transition: opacity 0.2s ease 0s;
}

.mini-cart__title:hover{opacity: 0.7;}

.mini-cart__val{
	font-size: 1.4rem;
	font-weight: 600;
	font-style: italic;
	color: #edc0cc;
}

/* form-search */
.form-search{position: relative;}

.form-search input[type="text"],
.form-search input[type="search"]{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 4.3rem;
	width: 100%;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: 600;
	color: #000;
	line-height: 1.2;
	padding: 0 20px 0 60px;
	border-radius: 6px;
	background: transparent;
	border: 1px solid #000;
	outline: 0;
	margin: 0;
	box-shadow: none;
	transition: border 0.2s ease 0s;
}

.form-search input[type="text"]:focus,
.form-search input[type="search"]:focus{
	border-color: #214496;
}

.form-search input[type="text"]::placeholder,
.form-search input[type="search"]::placeholder{
	color: #000;
	opacity: 0.7;
}

.form-search input[type="submit"],
.form-search button{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 60px;
	height: 100%;
	background: transparent;
	border-radius: 6px 0 0 6px;
	font-size: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	transition: background 0.2s ease 0s;
}

.form-search button .icon{
	fill: #000;
	transition: fill 0.2s ease 0s;
}

.form-search button:hover{background: #000;}
.form-search button:hover .icon{fill: #fff;}

.header-main .form-search input[type="text"],
.header-main .form-search input[type="search"]{
	color: #fff;
	border-color: #fff;
}

.header-main .form-search input[type="text"]:focus,
.header-main .form-search input[type="search"]:focus{
	border-color: #fff;
}

.header-main .form-search button .icon{fill: #fff;}
.header-main .form-search button:hover{background: #fff;}
.header-main .form-search button:hover .icon{fill: #9D002C;}

.header-main .form-search-wrap{
	width: 100%;
	margin: 0 20px;
}

.header-main .form-search input[type="text"]::placeholder,
.header-main .form-search input[type="search"]::placeholder{
	color: #fff;
}

.auth{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1.4rem;
	color: #214496;
	white-space: nowrap;
}

.auth__item{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.auth__item .icon{
	-ms-flex-negative: 0;
	flex-shrink: 0;
	fill: #214496;
	margin-right: 10px;
}

.auth__item:not(:last-child)::after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 18px;
	background: #cecece;
	margin: 0 28px;
}

/* advant */
.advant-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 30px 0;
}

.advant-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 33.33%;
	border: 1px solid #eee;
	padding: 20px 30px;
}

.advant-item__icon{
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 16px;
}

.advant-item__icon .icon{fill: #9D002C;}

.advant-item__title{
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.5;
	color: #000;
}

.advant-item__text{
	font-size: 1.4rem;
	line-height: 1.7;
	color: #686868;
	margin-top: 14px;
}

/* footer */
.footer{padding: 60px 0;}
.footer__contacts{margin-top: 40px;}

.footer__phone{
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 1.2;
	color: #000;
}

.footer__phone a{
	color: #000;
	text-decoration: none;
	transition: all 0.2s ease 0s;
}

.footer__phone a:hover{color: #9D002C;}
.footer__contacts .btn{margin-top: 20px;}
.footer .social{margin-top: 30px;}

.footer__law{
	font-size: 1.4rem;
	line-height: 1.8;
	color: #5c5c5c;
	margin-top: 40px;
}

.social{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -4px;
	margin-right: -4px;
}

.social__item{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 66px;
	height: 46px;
	border-radius: 6px;
	background: #2F467A;
	margin: 4px;
}

.social__item_fb{background: #2F467A;}
.social__item_vk{background: #4A6F9B;}
.social__item_in{background: linear-gradient(115.91deg, #3A52DC 0%, #9C39A7 31.25%, #F97548 68.75%, #FFC154 100%);}
.social__item .icon{fill: #fff;}

/* hamburger */
.ic-hamburger{
	flex-shrink: 0;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 24px;
	height: 24px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	cursor: pointer;
}

.ic-hamburger:focus{outline: none;}
	
.ic-hamburger span {
	display: block;
	width: calc(100% - 6px);
	height: 2px;
	position: absolute;
	top: 11px;
	left: 3px;
	background: #fff;
	transition: background 0.2s ease 0s;
}
	
.ic-hamburger span::before,
.ic-hamburger span::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	height: 2px;
	background: #fff;
}
	
.ic-hamburger span::before {top: -5px;}
.ic-hamburger span::after {bottom: -5px;}
	
.ic-hamburger span::before {transition: top 0.3s ease 0.3s, transform 0.3s ease 0s, background 0.2s ease 0s;}
.ic-hamburger span::after {transition: bottom 0.3s ease 0.3s, transform 0.3s ease 0s, background 0.2s ease 0s;}
	
.ic-hamburger.active span {background: none;}
	
.ic-hamburger.active span::before {
	top: 0;
	transform: rotate(45deg);
}
	
.ic-hamburger.active span::after {
	bottom: 0;
	transform: rotate(-45deg);
}
	
.ic-hamburger.active span::before {transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;}
.ic-hamburger.active span::after {transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s;}


@media (max-width: 1199px) {
	.header-contacts__item:first-child{display: none;}
	.top-menu__item{font-size: 1.3rem;}
}

@media (max-width: 991px) {
	.header-top{display: none;}

	.header-mobile{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
		height: 50px;
		background: #9D002C;
		padding: 10px 15px;
	}

	.header-mobile .icon{
		fill: #fff;
		transition: opacity 0.2s ease 0s;
	}

	.header-mobile__item{cursor: pointer;}

	.header-mobile__item .icon:hover,
	.header-mobile__item.active .icon{
		opacity: 0.6;
	}

	.header-contacts{
		display: block;
		width: 100vw;
		height: calc(100vh - 50px);
		background: #9D002C;
		margin: 0;
		padding: 20px 15px;
		text-align: center;
		position: fixed;
		top: 50px;
		right: 100%;
		z-index: 1000;
		transition: right 0.2s ease 0s;
		overflow-y: auto;
	}

	.header-contacts.open{right: 0;}

	.header-contacts__item{margin: 0 0 5px;}
	.header-contacts__item:first-child{display: block;}
	.header-contacts__title span:not(:first-child){display: none;}
	.header-contacts__title span:not(:last-child){margin-right: 0;}
	.header-contacts__title{font-size: 1.6rem;}
	.header-contacts__phone.inactive{display: block;}
	.header-contacts__phone + .header-contacts__title{margin-top: 7px;}
	.header-contacts__mail{font-size: 1.8rem;}
	.header-contacts__title .inactive{border-bottom: none;}
	
	.header-contacts__phone{
		font-size: 2.6rem;
		margin-top: -2px;
	}

	.header-contacts .btn{
		background: #fff;
		color: #9D002C;
		margin-top: 25px;
	}

	.header-contacts .btn:hover{color: #fff;}

	.header-main{padding: 15px 0 20px;}

	.header-main .mini-cart,
	.header-main .form-search-wrap{
		display: none;
	}

	.header-main__content{
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.header-main__logo-wrap{
		margin: 0;
		text-align: center;
	}

	#bx-panel ~ .body .header-contacts{
		height: calc(100vh - 89px);
		top: 89px;
	}

	#bx-panel ~ .body .catalogmenucolumn{
		height: calc(100vh - 89px);
		top: 89px;
	}
}

@media (min-width: 768px) {
	.advant-item:nth-child(3n){border: 1px solid #eee;}
	.advant-item{border-right-color: transparent;}
}

@media (max-width: 767px) {
	.advant-list{display: block;}
	.advant-item{width: 100%;}
	.advant-item:not(:last-child){border-bottom: none;}
	.advant-item__text{margin-top: 7px;}

	.footer{
		padding: 30px 0;
		text-align: center;
	}

	.footer__contacts{margin-top: 32px;}

	.footer .social{
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.footer-menu{margin-top: 25px;}
	.footer-menu .footer-menu__title{display: none;}
	.footer__law{margin-top: 15px;}
}